{% extends 'base.html.twig' %}

{% block title %}Edit Conversation{% endblock %}

{% block body %}
    <h1>Modifier la conversation</h1>

    {{ include('conversation/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('conversation_index') }}">Revenir à la liste</a>

{% endblock %}
