{% extends 'base.html.twig' %}

{% block title %}Nouvelle Conversation{% endblock %}

{% block body %}
    <h1>Créer une conversation</h1>

    {{ include('conversation/_form.html.twig') }}

    <a href="{{ path('conversation_index') }}">Revenir à la liste</a>
{% endblock %}
