{% extends 'base.html.twig' %}

{% block title %}Conversation{% endblock %}

{% block body %}
    <h1>Conversation</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ conversation.id }}</td>
            </tr>
            <tr>
                <th>Pseudo</th>
                <td>{{ conversation.pseudo }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ conversation.password }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('conversation_index') }}">Revenir à la liste</a>

{% endblock %}
