{% extends 'base.html.twig' %}

{% block title %}Inscrire mon association{% endblock %}

{% block body %}
<a href="{{ path('association/new.html.twig') }}">Inscrire mon association</a>

    <!--        <div>

            	<label for="country" class="text-center">Régions</label>
                <select id="country" name="country" class="form-control">
                    <option value="france">Auvergne-Rhône-Alpes</option>
                    <option value="belgique">Bourgogne-Franche-Comté</option>
                    <option value="suisse">Bretagne</option>
                    <option value="allemagne">Centre-Val de Loire</option>
                    <option value="italie">Corse</option>
                    <option value="etats-unis">Grand Est</option>
                    <option value="autre">Île-de-France</option>
                    <option value="autre">Normandie</option>
                    <option value="autre">Nouvelle-Aquitaine</option>
                    <option value="autre">Occitanie</option>
                    <option value="autre">Outre-Mer</option>
                    <option value="autre">Pays de la Loire</option>
                    <option value="autre">Provence-Alpes-Côte d'Azur</option>
                    <option value="autre">Outre-Mer</option>
                </select>
            </div>-->

{% endblock %}
