{% extends 'base.html.twig' %}

{% block title %}Devenir bénévole{% endblock %}

{% block body %}
    <h1> Devenir bénévole </h1>

    {{ include('formulaire/_form.html.twig') }}   

    
{% endblock %}
