{% extends 'base.html.twig' %}

{% block title %}New Formulaire{% endblock %}

{% block body %}
    <h1> Devenir Bénévole</h1>
    <!--DÉBUT DU FORMULAIRE DE CONTACT-->
    <!--<section id="section" class="container">
         <h1 class="benevole"> Devenir bénévole</h1>

        <div class="container3 form-row" id="contact">
            <form action="action_page.php" class="form-group col-md-12">
                <label for="fname">Nom</label>
                <input type="text" id="fname" name="firstname" placeholder="Nom" class="form-control">
    
                <label for="lname">Prénom</label>
                <input type="text" id="lname" name="lastname" placeholder="Prénom" class="form-control">
    
                <label for="subject">Motivations</label>
                <textarea id="subject" name="subject" placeholder="Votre texte ici..." style="height:200px" class="form-control"></textarea>
                <br>
                <input type="submit" href="" class="envoyez btn" value="Envoyez">
    
            </form>
        </div>
    </section>-->
    <!--FIN DU FORMULAIRE DE CONTACT-->


    {{ include('formulaire/_form.html.twig') }}
{% endblock %}
