{% extends 'base.html.twig' %}

{% block title %}Nouvelle Association{% endblock %}

{% block body %}
    <h1>Créer une nouvelle association</h1>

    {{ include('association/_form.html.twig') }}

    <a href="{{ path('association_index') }}"><strong>Revenir à la liste</strong></a>
{% endblock %}
