{% extends 'base.html.twig' %}

{% block title %}Hello AccessDeniedController!{% endblock %}

{% block body %}
<br>
<br>
<div class="container">
	 <div class="alert alert-danger" role="alert">
        Vous n'avez pas le role pour acceder a cette page
     </div>
	

     <img src="{{ asset('images/access.jpg')}} " class="accessd" >

</div>

{% endblock %}
