{% extends 'base.html.twig' %}

{% block title %}Conseils{% endblock %}

{% block body %}
  <div class="contenaire">

        <!-- DÉBUT DE LA SECTION AGRESSION -->
        <section>
            <h2>CONSEILS : Que faire en cas d'agression ?</h2>
        
            <p>Si vous avez été victime d’une agression physique ou d'une violence psychologique, seul le dépôt de plainte vous permet
            de faire valoir vos droits et d'obtenir réparation du préjudice. Voici les démarches à effectuer pour porter plainte
            pour coups et blessures.</p>
        
        
            <h3>1. Rassemblez les preuves de votre agression</h3>
        
            <p class="description">vous pouvez appeler le numéro d'aide aux victimes, le 116 006. Vous pourrez ainsi être aidé anonymement et orienté vers
            différents réseaux associatifs spécialisés.</p>
        </section>
        <!-- FIN DE LA SECTION AGRESSION -->
        
        
        <!-- DÉBUT DE LA SECTION CONSULTER UN MÉDECIN -->
        <section>
            <h3>2. Consultez un médecin</h3>
        
            <p class="description">Pour évaluer votre préjudice, vous devez voir un médecin. Celui-ci, après avoir constaté vos lésions, vous remettra un
            certificat médical fixant votre incapacité temporaire de travail (ITT).<br><br>
            
            L'ITT s’exprime en nombre de jours à compter de la date des faits.
            Son évaluation est indispensable pour qualifier l’infraction pénale commise par l’auteur des faits.<br><br>
            Selon le nombre de jours d’incapacité temporaire de travail, l’infraction est plus ou mois grave, et donc punie plus ou moins sévèrement.<br><br>
            
            l’ITT est la durée pendant laquelle la victime présente une gêne notable dans les actes de la vie courante ; elle peut résulter de troubles physiques ou psychiques, et s’applique à tous, aussi bien salariés que ceux qui ne travaillent pas (enfants, retraités, demandeurs d'emploi…). Il n’y a pas de lien entre la durée de l’arrêt de travail et la durée d’ITT.</p>
        </section>
        <!-- FIN DE LA SECTION CONSULTER UN MÉDECIN -->

        <!-- DÉBUT DE LA SECTION RÉUNIR LES ÉLÉMENTS -->
        <section>
            <h3>3. Réunissez les éléments de préjudice matériel</h3>
        
            <p class="description">Si lors de l'agression vous avez subi un préjudice matériel – vos vêtement ou des objets ont été abîmés –, vous devez en apporter la preuve par des photos, le témoignage de personnes ayant vu l'agression, la facture des objets détériorés, voire par constat d'huissier.<br><br>
            Vous fournirez ces preuves quand vous déposerez plainte ou, par la suite, lors de la constitution de partie civile.</p>
        </section>
        <!-- FIN DE LA SECTION RÉUNIR LES ÉLÉMENTS -->


        <!-- DÉBUT DE LA SECTION ALLER AU COMMISSARIAT -->
        <section>
            <h3>4. Allez au commissariat porter plainte pour coups et blessures</h3>
        
            <p class="description">Même si vous avez appelé les services de police au moment de l’agression et qu'ils se sont déplacés sur le lieu de
            l’infraction, vous devez vous rendre au commissariat ou à la gendarmerie, afin de porter plainte pour coups et blessures.<br><br>

            Déposez plainte le plus tôt possible : c’est le meilleur moyen de retrouver votre agresseur, de déterminer votre préjudice et de ne pas laisser les preuves disparaître ou s’effacer avec le temps.<br><br>
            
            Le délai légal pour déposer une plainte est de 3 ans.<br>
            Allez au commissariat ou à la gendarmerie du lieu de l’infraction ou de votre domicile.
            Un agent vous recevra et enregistrera votre plainte : il vous demandera de relater les faits et d'évaluer votre préjudice.<br><br>
            
            Pour déposer une plainte, vous devez pouvoir présenter une pièce d’identité</p>
        </section>
        <!-- FIN DE LA SECTION ALLER AU COMMISSARIAT -->



        <!--CONTENAIRE-->
        <div id="photo">

            <!-- PHOTO n°1-->
            <div class="photo">
                <div class="picture">
                    <img src="{{ asset('images/bouche.png')}}" alt="Bouche sur fond rose"/>
                </div>

                <span><strong>Contacter une association</strong></span>
                <p class="theme">Plus de 300 associations à votre écoute.</p>
                <div>
                    <a href="{{ path('annuaire')}}">
                        <p class="bouton">ANNUAIRE</p>
                    </a>
                
                </div>
            </div>

            <!-- PHOTO n°2-->
            <div class="photo">
                <div class="picture">
                    <img src="{{ asset('images/femmes.png')}}" alt="photo 6 femmes de dos"/>
                </div>

                <span><strong>Obtentir des renseignements</strong></span>
                <p class="theme">Trouvez toutes les informations et conseils utiles.</p>
                <div>
                    <a href="{{ path('prevention')}}">
                        <p class="bouton">EN SAVOIR PLUS</p>
                    </a>
                
                </div>
            </div>

        </div>

    </div>

{% endblock %}

