{% extends 'base.html.twig' %}

{% block title %}Conseils{% endblock %}

{% block body %}
  <div class="contenaire">

        <!-- DÉBUT DE LA SECTION AGRESSION -->
        <section>
            <h2>CONSEILS : Que faire en cas d'agression ?</h2>
        
            <p>Si vous avez été victime d’une agression physique ou d'une violence psychologique, seul le dépôt de plainte vous permet
            de faire valoir vos droits et d'obtenir réparation du préjudice. Voici les démarches à effectuer pour porter plainte
            pour coups et blessures.</p>
        
        
            <h3>1. Récupérez toutes les preuves.</h3>
        
            <p class="description">Avec toutes les preuves que vous aurez au préalable rassemblées, appelez le 116 006 qui est le numéro d'aide aux
            victimes. Vous pouvez par ce biais obtenir de l'aide de manière anonyme. Vous serez également redirigés vers des
            associations spécifiques.</p>
        </section>
        <!-- FIN DE LA SECTION AGRESSION -->
        
        
        <!-- DÉBUT DE LA SECTION CONSULTER UN MÉDECIN -->
        <section>
            <h3>2. Le justificatif médical</h3>
        
            <p class="description">Consultez un médecin qui évaluera l'ampleur de votre préjudice et après avoir constaté vos blessures vous fera un
            certificat médical qui justifiera votre ITT (Incapacité Temporaire de Travail).<br><br>
            
            L'ITT s’exprime en nombre de jours à compter de la date des faits.
            Son évaluation est indispensable pour qualifier l’infraction pénale commise par l’auteur des faits.<br><br>
            Selon le nombre de jours d’incapacité temporaire de travail, l’infraction est plus ou mois grave, et donc punie plus ou moins sévèrement.<br><br>
            
            l’ITT est la durée pendant laquelle la victime présente une gêne notable dans les actes de la vie courante ; elle peut résulter de troubles physiques ou psychiques, et s’applique à tous, aussi bien salariés que ceux qui ne travaillent pas (enfants, retraités, demandeurs d'emploi…). Il n’y a pas de lien entre la durée de l’arrêt de travail et la durée d’ITT.</p>
        </section>
        <!-- FIN DE LA SECTION CONSULTER UN MÉDECIN -->

        <!-- DÉBUT DE LA SECTION RÉUNIR LES ÉLÉMENTS -->
        <section>
            <h3>3. Les éléments de préjudice matériel</h3>
        
            <p class="description">Il est impératif de rassembler tous les éléments de votre préjudice lors de votre agression. Vêtements détériorés et
            souillés(sang) avec photos à l'appui. Objets abîmés si possible des factures et photo de la détérioration. Photos de vos blessures physiques. Témoignages écrits des éventuelles personnes présentes au moment des faits, voisinage qui aurait pu
            entendre quelque chose. Ajouter un constat d'un huissier est un plus. Toutes ces preuves sont à fournir à votre dépôt de plainte.</p>
        </section>
        <!-- FIN DE LA SECTION RÉUNIR LES ÉLÉMENTS -->


        <!-- DÉBUT DE LA SECTION ALLER AU COMMISSARIAT -->
        <section>
            <h3>4. Allez déposer une plainte au commissariat</h3>
        
            <p class="description">Vous devez aller le plus tôt possible déposer une plainte pour coups et blessures même si au moment des faits la police s'est déplacé sur les lieux. <br><br>

            Il ne faut pas attendre pour faire un dépôt de plainte permet de retrouver plus rapidement votre agresseur, mais également d'éviter de ne plus pouvoir rassembler les éléments de preuves de l'agression.<br><br>
                
            Ceci-dit, vous disposez d'une période de 3 ans pour faire votre dépôt de plainte.
                
            Vous pouvez aller soit au commissariat ou à la gendarmerie du lieu de l’infraction, soit au lieu de votre domicile.
                
            Vous serez entendu par un agent qui recevra et enregistrera votre plainte. Une pièce d'identité vous sera demandée au préalable.<br><br>
            
            Pour déposer une plainte, vous devez pouvoir présenter une pièce d’identité</p>
        </section>
        <!-- FIN DE LA SECTION ALLER AU COMMISSARIAT -->



        <!--CONTENAIRE-->
        <div id="photo">

            <!-- PHOTO n°1-->
            <div class="photo">
                <div class="picture">
                    <img src="{{ asset('images/bouche.png')}}" alt="Bouche sur fond rose"/>
                </div>

                <span><strong>Contacter une association</strong></span>
                <p class="theme">Plus de 10 associations à votre écoute.</p>
                <div>
                    <a href="{{ path('annuaire')}}">
                        <p class="bouton">ANNUAIRE</p>
                    </a>
                
                </div>
            </div>

            <!-- PHOTO n°2-->
            <div class="photo">
                <div class="picture">
                    <img src="{{ asset('images/femmes.png')}}" alt="photo 6 femmes de dos"/>
                </div>

                <span><strong>Obtentir des renseignements</strong></span>
                <p class="theme">Trouvez toutes les informations et conseils utiles.</p>
                <div>
                    <a href="{{ path('prevention')}}">
                        <p class="bouton">EN SAVOIR PLUS</p>
                    </a>
                
                </div>
            </div>

        </div>

    </div>

{% endblock %}

