{% extends 'base.html.twig' %}

{% block title %}Apropos{% endblock %}

{% block body %}
<div class="contenaire">
        <section>
            <h2>QUI SOMMES-NOUS ?</h2>
        </section>

        <!-- BLOC TEXTE n°1-->
        <div class="bloctexte">
            <div class="texte">
                <span><strong>De quoi s'agit-il ?</strong></span>
                <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos sapiente similique ex debitis molestias ullam? Voluptate, ducimus. Impedit mollitia animi, unde nihil nisi minima cumque, dolore dolorum sint, ad id. Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos sapiente similique ex debitis molestias ullam? Voluptate,ducimus. Impedit mollitia animi, unde nihil nisi minima cumque, dolore dolorum sint, ad id.</P>
            </div>
        
        </div>
        
        <!-- BLOC TEXTE n°2-->
        <div class="bloctexte">
            <div class="texte">
                <span><strong>Pour qui ?</strong></span>
                <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos sapiente similique ex debitis molestias ullam? Voluptate, ducimus. Impedit mollitia animi, unde nihil nisi minima cumque, dolore dolorum sint, ad id. Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos sapiente similique ex debitis molestias ullam? Voluptate,ducimus. Impedit mollitia animi, unde nihil nisi minima cumque, dolore dolorum sint, ad id.</P>
        
            </div>
        </div>
        
        <!-- BLOC TEXTE n°3-->
        <div class="bloctexte">
            <div class="texte">
                <span><strong>Pourquoi ?</strong></span>
                <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos sapiente similique ex debitis molestias ullam? Voluptate, ducimus. Impedit mollitia animi, unde nihil nisi minima cumque, dolore dolorum sint, ad id. Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos sapiente similique ex debitis molestias ullam? Voluptate,ducimus. Impedit mollitia animi, unde nihil nisi minima cumque, dolore dolorum sint, ad id.</P>
        
            </div>
        </div>
        
        <!-- BLOC TEXTE n°4-->
        <div class="bloctexte">
            <div class="texte">
                <span><strong>Comment ça fonctionne ?</strong></span>
                <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos sapiente similique ex debitis molestias ullam? Voluptate, ducimus. Impedit mollitia animi, unde nihil nisi minima cumque, dolore dolorum sint, ad id. Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos sapiente similique ex debitis molestias ullam? Voluptate,ducimus. Impedit mollitia animi, unde nihil nisi minima cumque, dolore dolorum sint, ad id.</P>
        
            </div>
        </div>
    </div>


{% endblock %}
